body {
  background: #f0f2f5;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
}

.ant-layout-header h1 {
  margin: 0 1rem 0 0;
  color: #fff;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.content {
  background: #fff;
  padding: 24px;
  margin: 0 auto;
  min-width: 1204px;
}

.align-center {
  text-align: center;
}

.chart-container {
  padding: 24px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.chart-inner {
  width: 100%;
  height: 350px;
}

.stats-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 3rem 1rem;
}
