<html>
  <head>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/babel">
      const rootElement = document.getElementById("app");

      const MyDiv = (props) => {
        return <div>{props.children}</div>;
      };

      const element = (
        <div className="container">
          <MyDiv>Hello World</MyDiv>
          <MyDiv>
            Welcome to Code.Hub
            <MyDiv>Hi I'm a component</MyDiv>
          </MyDiv>
          <MyDiv>
            <h1>Title</h1>
            <p>Welcome</p>
          </MyDiv>
        </div>
      );

      ReactDOM.render(element, rootElement);
    </script>
  </body>
</html>
