<html>
  <head>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/babel">
      const rootElement = document.getElementById("app");
      const data = [
        {
          title: "Total",
          number: 10358,
          percentage: "+ 3%",
        },
        {
          title: "Direct",
          number: 8560,
          percentage: "+ 10%",
        },
        {
          title: "Referral",
          number: 1798,
          percentage: "- 1%",
        },
      ];

      const Widget = (props) => {
        return (
          <div>
            <h2>{props.title}</h2>
            <img width="30" height="30" src={props.logo} />
            {props.data.map((entry) => {
              return (
                <div key={entry.title}>
                  <h3>{entry.title}</h3>
                  <p>
                    {entry.number} &nbsp;<span>{entry.percentage}</span>
                  </p>
                </div>
              );
            })}
          </div>
        );
      };

      ReactDOM.render(
        <Widget
          title="Website traffic"
          logo="https://image.flaticon.com/icons/svg/148/148767.svg"
          data={data}
        />,
        rootElement
      );
    </script>
  </body>
</html>
