<html>
  <head>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/babel">
      const rootElement = document.getElementById("app");

      const User = ({ username }) => {
        if (username) {
          return <div>Hello, {username}</div>;
        }

        return <div>Hi stranger!</div>;
      };

      ReactDOM.render(<User username="tsevdos" />, rootElement);
    </script>
  </body>
</html>
