/* .statistic-container {
  display: inline-block;
  width: 100%;
  padding: 24px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
} */

.chart-container {
  padding: 24px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.chart-inner {
  width: 100%;
  height: 350px;
}
